<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="static/css/layout.css">

</head>

<body id="body">
    <title>{% block title %}{% endblock %}</title>

    <div id="header">
        <h1>Data Science Jobs in NYC</h1>
        <table id = "navtable">
        	<tr style="width: 100%">
        		<td><a href="/"> Summary </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster1"> Medical Clinical </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster2"> Business Development </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster3"> Machine Learning </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster4"> Public Health </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster5"> Insurance Modeling </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster7"> Marketing Media </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster8"> Consulting Services </a></td>
        		<td><a href="http://jobsearchcompanion.herokuapp.com/cluster9"> Statistical Research </a></td>
        	</tr>
        </table>
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer">
    Data from Indeed.com. Analysis by Itelina Ma.
    </div>

</body>
</html>